version: '3.8'

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && gunicorn TaskSphere.wsgi:application --bind 0.0.0.0:8000 --workers=3"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: tasksphere
      POSTGRES_USER: tasksphere_user
      POSTGRES_PASSWORD: tasksphere_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  worker:
    build: .
    command: celery -A TaskSphere worker -l info --pool=solo
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

  beat:
    build: .
    command: celery -A TaskSphere beat -l info
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

volumes:
  postgres_data:
